@model biz.dfch.CS.Appclusive.UI.Models.Core.Ace
@using biz.dfch.CS.Appclusive.UI.Helpers
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    ViewBag.Title = @Model.GetType().Name + " create";
}

@section Title{
    <h2>@GeneralResources.New</h2>
    <h4>@GeneralResources.ResourceManager.GetString(@Model.GetType().Name)</h4>
}

<div>
    <hr />
    <div>
        @Html.Partial("FormPartial", Model)
    </div>
    <p>
        <hr />
        @Html.SecuredButton("Read", Url.Action("Details", "Acls", new { Id = Model.AclId}), "btn btn-default btn-sm", @GeneralResources.CancelLink, "fa-arrow-left")
    </p>
</div>