@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Cmp.CimiTarget>
@using biz.dfch.CS.Appclusive.UI.App_LocalResources

@{
    ViewBag.Title = "CimiTarget" + " list";
}
@section Title{
    <h2>@GeneralResources.ResourceManager.GetString("CimiTarget")@GeneralResources.List</h2>
}

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CimiId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CimiType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatalogueItemId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CimiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CimiType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatalogueItemId)
            </td>
            <td class="ap-btn text-nowrap">
                <a class="btn btn-primary btn-sm" href="@Url.Action("Details", new { id = item.Id })"><i class="fa fa-cog"></i> @GeneralResources.DetailsLink</a>
            </td>
        </tr>
    }

</table>
