@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@using biz.dfch.CS.Appclusive.UI.Helpers
@using biz.dfch.CS.Appclusive.UI.Models.Core
@using biz.dfch.CS.Appclusive.UI.Models.Cmp
@using biz.dfch.CS.Appclusive.UI.Models.Diagnostics
@using biz.dfch.CS.Appclusive.UI.Models.SpecialOperations
@using biz.dfch.CS.Appclusive.UI.Navigation
@{
    var title = "biz.dfch.CS.Appclusive.UI";
    ViewBag.Title = title;
}

<div class="jumbotron">
    <h1>@title</h1>
    <p>Appclusive Autmation Framework and Middleware</p>
    <p class="lead"><a href="http://d-fens.ch">d-fens GmbH, General-Guisan-Strasse 6, CH-6300 Zug, Switzerland</a></p>
    <p><a href="http://appclusive.net" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>
<div class="row">
    @foreach (NavEntry group in PermissionDecisions.Current.Navigation.Values)
    {
        <div class="col-sm-4">
            <ul class="list-group">
                @if (string.IsNullOrEmpty(group.Controller))
                {
                    foreach (NavEntry entry in group.NavEntries)
                    {
                        <li class="list-group-item">
                            @if (!string.IsNullOrWhiteSpace(entry.Icon))
                            {
                                <i class="fa @entry.Icon"></i>
                                Html.Raw("&nbsp;");
                            }
                            @Html.ActionLink(@GeneralResources.ResourceManager.GetString(entry.Name), entry.Action, entry.Controller)
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">
                        @if (!string.IsNullOrWhiteSpace(group.Icon))
                        {
                            <i class="fa @group.Icon"></i>
                            Html.Raw("&nbsp;");
                        }
                        @Html.ActionLink(@GeneralResources.ResourceManager.GetString(group.Name), group.Action, group.Controller)
                    </li>
                }
            </ul>
        </div>
    }
</div>
<div class="row">
    <div class="col-sm-4">
        <h3>biz.dfch.CS.Appclusive.Core</h3>
        <p>Appclusive Framework and Middleware</p>
        <p>Contribute on <a href="https://github.com/dfch/biz.dfch.CS.Appclusive">GitHub &raquo;</a></p>
    </div>
    <div class="col-sm-4">
        <h3>biz.dfch.CS.Appclusive.Api</h3>
        <p>.NET client to the Appclusive Framework and Middleware</p>
        <p>Contribute on <a href="https://github.com/dfensgmbh/biz.dfch.CS.Appclusive.Api">GitHub &raquo;</a> or download from <a href="https://www.nuget.org/packages/biz.dfch.CS.Appclusive.Api/">NuGet &raquo;</a></p>
    </div>
    <div class="col-sm-4">
        <h3>biz.dfch.PS.Appclusive.Client</h3>
        <p>PowerShell module for the Appclusive Framework and Middleware</p>
        <p>Contribute on <a href="https://github.com/dfensgmbh/biz.dfch.PS.Appclusive.Client">GitHub &raquo;</a> or download from <a href="https://www.nuget.org/packages/biz.dfch.PS.Appclusive.Client/">NuGet &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h3>biz.dfch.CS.Appclusive.UI</h3>
        <p>Next version Appclusive User Interface</p>
        <p>Contribute on <a href="https://github.com/dfch/biz.dfch.CS.Appclusive.UI">GitHub &raquo;</a></p>
    </div>
</div>
