@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@using biz.dfch.CS.Appclusive.UI.Helpers
@using biz.dfch.CS.Appclusive.UI.Models.Core
@using biz.dfch.CS.Appclusive.UI.Models.Cmp
@using biz.dfch.CS.Appclusive.UI.Models.Diagnostics
@using biz.dfch.CS.Appclusive.UI.Models.SpecialOperations
@using biz.dfch.CS.Appclusive.UI.Navigation
@{
    var title = "biz.dfch.CS.Appclusive.UI";
    ViewBag.Title = title;
}

<div class="page-header">
    <h1>@title</h1>
</div>

<div class="row">
    @foreach (NavEntry group in PermissionDecisions.Current.Navigation.Values)
    {
        <div class="col-sm-4">
            <ul class="list-group">
                @if (string.IsNullOrEmpty(group.Controller))
                {
                    foreach (NavEntry entry in group.NavEntries)
                    {
                        <li class="list-group-item">
                            @if (!string.IsNullOrWhiteSpace(entry.Icon))
                            {
                                <i class="fa @entry.Icon"></i>
                                Html.Raw("&nbsp;");
                            }
                            @Html.ActionLink(@GeneralResources.ResourceManager.GetString(entry.Name), entry.Action, entry.Controller)
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">
                        @if (!string.IsNullOrWhiteSpace(group.Icon))
                        {
                            <i class="fa @group.Icon"></i>
                            Html.Raw("&nbsp;");
                        }
                        @Html.ActionLink(@GeneralResources.ResourceManager.GetString(group.Name), group.Action, group.Controller)
                    </li>
                }
            </ul>
        </div>
    }
</div>
