@model biz.dfch.CS.Appclusive.UI.Models.Core.Ace
@using biz.dfch.CS.Appclusive.UI.Helpers

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ace</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Action, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Action, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Action, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Trustee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Trustee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Trustee, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.AclId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AclId, new { htmlAttributes = new { @class = "form-control" } })

                <input class="form-control text-box single-line" id="AclSearch" name="AclSearch" />

                @Html.ValidationMessageFor(model => model.AclId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@* see https://github.com/Eonasdan/bootstrap-datetimepicker/blob/master/docs/Options.md *@
@using (Html.Delayed())
{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#Trustee').autocomplete(
            {
                source: '@Url.Action("TestSearch", "Home")'                
            });
        $('#AclSearch').autocomplete(
          {
              source: '@Url.Action("TestKvSearch", "Home")',
              select: function(event, ui) {
                  $('#AclId').val(ui.item.key);
              },
              change: function (event, ui) {
                  $('#AclId').val(ui.item.key);
              },
              _renderItem: function (ul, item) {

                  return $( "<li>" )

                    .attr( "data-value", item.value )

                    .append( item.label )

                    .appendTo( ul );

              }


              ////,
              //// _renderMenu: function (ul, items) {
              ////    var self = this,
              ////        currentValue = "";
              ////    $.each(items, function (index, item) {
              ////        if (item.value != currentValue) {
              ////            ul.append("<li class='ui-autocomplete-selected'>" + item.label + "</li>");
              ////            currentValue = item.value;
              ////        }
              ////        self._renderItem(ul, item);
              ////    });
              ////}
          });
    })
    </script>
}
