@model biz.dfch.CS.Appclusive.UI.Models.Core.Job
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    ViewBag.Title = @Model.GetType().Name + " details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>@GeneralResources.ResourceManager.GetString(@Model.GetType().Name)</h4>
    <hr />

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#details">@GeneralResources.Details</a></li>
        <li><a data-toggle="tab" href="#general">@GeneralResources.General</a></li>
    </ul>
    <div class="tab-content">
        <div id="details" class="tab-pane fade in active">
            <dl class="col-md-6" style="padding-left:0px;">

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Token)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Token)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EndTime)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EndTime)
                </dd>

            </dl>
            <dl class="col-md-6">

                <dt>
                    @Html.DisplayNameFor(model => model.ReferencedItemId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ReferencedItemId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TenantId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TenantId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ParentId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ParentId)
                </dd>
            </dl>
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EntityKind)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EntityKind)
                </dd>
                
                <dt>
                    @Html.DisplayNameFor(model => model.Condition)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Condition)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ConditionParameters)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ConditionParameters)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Parameters)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Parameters)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Error)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Error)
                </dd>

            </dl>
        </div>
        <div id="general" class="tab-pane fade">
            @Html.Partial("IAppcusiveEntityBaseDetails", Model)
        </div>
    </div>
    <hr />
</div>
<p>
    <a class="btn btn-info btn-sm" href="@Url.Action("Index")"><i class="fa fa-arrow-left "></i> @GeneralResources.Back2list</a>
</p>
