@model biz.dfch.CS.Appclusive.UI.Models.Core.Catalogue

@{
    ViewBag.Title = "Catalogue details";
}
@section Title{
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <h4>Catalogue</h4>
}
<div>
    <hr />

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#items">Catalogue Items</a></li>
        <li><a data-toggle="tab" href="#details">Details</a></li>
        <li><a data-toggle="tab" href="#general">General</a></li>
    </ul>
    @Html.Partial("Messages")
    <div class="tab-content">
        <div id="items" class="tab-pane fade in active">
            @{ ViewBag.catalogId = Model.Id; }
            @Html.Partial("ItemList", Model.CatalogueItems)
        </div>
        <div id="details" class="tab-pane fade">
            <dl>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Version)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Version)
                </dd>

            </dl>
        </div>
        <div id="general" class="tab-pane fade">
            @Html.Partial("IAppcusiveEntityBaseDetails", Model)
        </div>
    </div>
    <hr />
</div>
<p>
    @if (Model.Id > 0)
    {
        <a class="btn btn-default btn-sm" href="@Url.Action("Edit", new { id = Model.Id })"><i class="fa fa-pencil "></i> Edit</a>
    }
    <a class="btn btn-info btn-sm" href="@Url.Action("Index")"><i class="fa fa-arrow-left "></i> Back to List</a>
</p>
