@model biz.dfch.CS.Appclusive.UI.Models.Core.CatalogueItem
@using biz.dfch.CS.Appclusive.UI.Helpers
@using biz.dfch.CS.Appclusive.UI.App_LocalResources

@{
    ViewBag.Title = @Model.GetType().Name + " create";
}
@section Title{
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <h4>@GeneralResources.ItemOfCatalog "@Html.DisplayFor(model => model.Catalogue.Name)"</h4>
}
<div>
    <hr />
    @Html.Partial("ItemFormPartial", Model)
    <p>
        @if (Model.CatalogueId > 0)
        {
            @Html.SecuredButton("Read", Url.Action("Details", new { id = Model.CatalogueId }), "btn btn-info btn-sm", @GeneralResources.BackToCatalogue, "fa-arrow-left")
        }
    </p>
</div>
