@using biz.dfch.CS.Appclusive.UI.Helpers
@model biz.dfch.CS.Appclusive.UI.Models.Core.Role
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    ViewBag.Title = @Model.GetType().Name + " details";
}
@section Title{
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <h4>@GeneralResources.ResourceManager.GetString(@Model.GetType().Name)</h4>
}
<div>
    <hr />

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#details">@GeneralResources.Details</a></li>
        <li><a data-toggle="tab" href="#general">@GeneralResources.General</a></li>
        <li><a data-toggle="tab" href="#aclList">@GeneralResources.Permissions</a></li>
    </ul>
    <div class="tab-content">
        <div id="details" class="tab-pane fade in active">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
        <div id="general" class="tab-pane fade">
            @Html.Partial("IAppcusiveEntityBaseDetails", Model)
        </div>
        <div id="aclList" class="tab-pane fade">
            @{ ViewBag.Id = Model.Id; }
            @Html.Partial("EditPermissionList", Model.Permissions)
        </div>
    </div>
    <hr />
</div>
<p>
    @Html.SecuredButton("Edit", Url.Action("Edit", new { id = Model.Id }))
    @Html.Partial("BackLink")
</p>
