@model biz.dfch.CS.Appclusive.UI.Models.Core.Role
@using biz.dfch.CS.Appclusive.UI.Helpers
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    ViewBag.Title = @Model.GetType().Name + " edit";
}
@section Title{
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <h4>@GeneralResources.ResourceManager.GetString(@Model.GetType().Name)</h4>
}

<div>
    <hr />

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#details">@GeneralResources.Details</a></li>
        <li><a data-toggle="tab" href="#general">@GeneralResources.General</a></li>
        <li><a data-toggle="tab" href="#permissionListTab">@GeneralResources.Permissions</a></li>
        <li><a data-toggle="tab" href="#userListTab">@GeneralResources.Users</a></li>
    </ul>
    <div class="tab-content">
        <div id="details" class="tab-pane fade in active">
            @Html.Partial("FormPartial", Model)
        </div>
        <div id="general" class="tab-pane fade">
            @Html.Partial("IAppcusiveEntityBaseDetails", Model)
        </div>
        <div id="permissionListTab" class="tab-pane fade">
            <div class="ap-busyParent">
                <div id="permissionListLoading"></div>
                @{ ViewBag.Id = Model.Id; }
                @Html.Partial("EditPermissionList", Model.Permissions)
            </div>
        </div>
        <div id="userListTab" class="tab-pane fade">
            <div class="ap-busyParent">
                <div id="itemListLoading"></div>
                @{ ViewBag.Id = Model.Id; }
                @Html.Partial("EditUserList", Model.Users)
            </div>
        </div>
    </div>
</div>
<p>
    <hr />
    @if (Model.Id > 0)
    {
        @Html.SecuredButton("Read", Url.Action("Details", new { id = Model.Id }), "btn btn-default btn-sm", @GeneralResources.CancelLink, "fa-cog")
    }
    @Html.Partial("BackLink")
</p>

@using (Html.Delayed(null, "itemListLoading"))
{
    <script type="text/javascript">

        function showBusy() {
            $("#itemListLoading").show();
        }
        function hideBusy() {
            $("#itemListLoading").hide();
        }

    </script>
}

@using (Html.Delayed(null, "permissionListLoading"))
{
    <script type="text/javascript">

        function showPermissionBusy() {
            $("#permissionListLoading").show();
        }
        function hidePermissionBusy() {
            $("#permissionListLoading").hide();
        }

    </script>
}