@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.User>
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@using biz.dfch.CS.Appclusive.UI.Helpers

<div id="userList">
    @if (null != ViewBag.AjaxCall && ViewBag.AjaxCall)
    {
        @Html.Partial("AjaxNotification", (IEnumerable<biz.dfch.CS.Appclusive.UI.Models.AjaxNotificationViewModel>)ViewBag.Notifications)
        @Html.Partial("Messages")
    }
    @{AjaxOptions ajaxRemoveOptions = new AjaxOptions() { UpdateTargetId = "userList", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" };}

    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExternalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExternalType)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExternalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExternalType)
                </td>
                <td class="ap-btn text-nowrap">                 
                    @AjaxHelperExtensions.IconActionLink(Ajax, "fa fa-remove", "RemoveUser", new { roleId = ViewBag.Id, userId = item.Id }, ajaxRemoveOptions, GeneralResources.Delete, new { onclick = "return confirm('" + GeneralResources.ConfirmDelete + "')" })
                </td>
            </tr>
        }

    </table>

</div>