@model biz.dfch.CS.Appclusive.UI.Models.Core.CartItem
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@using biz.dfch.CS.Appclusive.UI.Helpers
@{
    ViewBag.Title = @Model.GetType().Name + " details";
}
@section Title{
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <h4>@GeneralResources.ItemOfCart "@Html.DisplayFor(model => model.Cart.Name)"</h4>
}
<div>
    <hr />

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#details">@GeneralResources.Details</a></li>
        <li><a data-toggle="tab" href="#general">@GeneralResources.General</a></li>
    </ul>
    <div class="tab-content">
        <div id="details" class="tab-pane fade in active">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.CartId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CartId)
                </dd>

                <dt>
                    Catalog Item Name
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CatalogueItem)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Quantity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Parameters)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Parameters)
                </dd>

            </dl>
        </div>
        <div id="general" class="tab-pane fade">
            @Html.Partial("IAppcusiveEntityBaseDetails", Model)
        </div>
    </div>
    <hr />
</div>
<p>
    @if (Model.Id > 0)
    {
        @Html.SecuredButton("Update", Url.Action("ItemEdit", new { id = Model.Id }))
    }
    @if (Model.Cart != null)
    {
        @Html.SecuredButton("Read", Url.Action("Details", new { id = Model.Cart.Id }), "btn btn-info btn-sm", @GeneralResources.BackToCart, "fa-arrow-left")
    }
    @Html.Partial("BackLink")    
</p>
