@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.CartItem>
@using biz.dfch.CS.Appclusive.UI.Helpers
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    ViewBag.AjaxPagingTargetId = "itemListAjax";
    ViewBag.AjaxPagingAction = "ItemIndex";

    RouteValueDictionary rd = new RouteValueDictionary();
    rd.Add("cartId", ViewBag.ParentId);
    rd.Add("itemSearchTerm", ViewBag.ItemSearchTerm);
    rd.Add("pageNr", 1);
    ViewBag.AjaxRouteValueDictionary = rd;
}
<div id="itemListAjax">
    @Html.Partial("AjaxNotification", (IEnumerable<biz.dfch.CS.Appclusive.UI.Models.AjaxNotificationViewModel>)ViewBag.Notifications)
    @Html.Partial("Messages")

    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameForSort(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameForSort(model => model.Quantity)
            </th>
            <th></th>
        </tr>

        @foreach (var cartItem in Model)
        {
            <tr>
                <td onclick="window.location = '@Url.Action("ItemDetails", new { id = cartItem.Id })'" class="ap-hand">
                    @Html.DisplayFor(modeItem => cartItem.Name)
                </td>
                <td onclick="window.location = '@Url.Action("ItemDetails", new { id = cartItem.Id })'" class="ap-hand">
                    @Html.DisplayFor(modeItem => cartItem.Quantity)
                </td>
                <td class="ap-btn text-nowrap">                   
                    @Html.SecuredButton("Read", Url.Action("ItemDetails", new { id = cartItem.Id }))
                    @Html.SecuredButton("Update", Url.Action("ItemEdit", new { id = cartItem.Id }))
                    @Html.SecuredButton("Delete", Url.Action("ItemDelete", new { id = cartItem.Id }))
                </td>
            </tr>
        }

    </table>

    @Html.Partial("AjaxPaging", Model)
</div>