@model object
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@using biz.dfch.CS.Appclusive.UI.Helpers
@{
    object modelKey = Model;
    string modelKeyId = string.IsNullOrWhiteSpace(ViewBag.ModelKeyId) ? ViewData.TemplateInfo.HtmlFieldPrefix : ViewBag.ModelKeyId; 
    bool showKeyId = ViewBag.ShowKeyId != null && ViewBag.ShowKeyId;
    
    string searchSource = ViewBag.SelectUrl;
    string searchTerm = ViewBag.Value;

    // use if multiple autocomplete boxes are used on the same screen
    string searchTermId = string.IsNullOrWhiteSpace(ViewBag.SearchTermId) ? "searchTermId" : ViewBag.SearchTermId;
}
@if (showKeyId)
{
    <div>
        <div class="row">
            <div class="col-md-2">
                <input class="form-control" id="@modelKeyId" name="@modelKeyId" value="@modelKey" />
            </div>
            <div class="col-md-10">
                <input class="form-control text-box single-line ap-autocomplete" id="@searchTermId" name="@searchTermId" value="@searchTerm" />
            </div>           
        </div>
    </div>
}
else
{
    <input type="hidden" id="@modelKeyId" name="@modelKeyId" value="@modelKey" />
    <input class="form-control text-box single-line ap-autocomplete" id="@searchTermId" name="@searchTermId" value="@searchTerm" />
}

@using (Html.Delayed())
{
    // needs search Action on controller: public ActionResult Search(string term)
    <script type="text/javascript">
        $(document).ready(function () {
            $('#@searchTermId').autocomplete(
              {
                  source: '@searchSource',
                  select: function (event, ui) {
                      $('#@searchTermId').val(ui.item.value);
                      $('#@modelKeyId').val(ui.item.key);
                  }
              });
        })
    </script>
}
