@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.Tenant>
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    ViewBag.Title = "Tenant" + " list";
}
@section Title{
    <h2>@GeneralResources.ResourceManager.GetString("Tenant")@GeneralResources.List</h2>
}
<div class="row">
    <div class="col-md-2">
        <a class="btn btn-default" href="@Url.Action("Create")"><i class="fa fa-plus"></i> @GeneralResources.CreateNew</a>
    </div>
    @Html.Partial("SearchForm")
</div>
@{ ViewBag.ShowEditLinks = true; }
@Html.Partial("TenantList", Model)
