@model biz.dfch.CS.Appclusive.UI.Models.Core.Permission
@using biz.dfch.CS.Appclusive.UI.Helpers
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    ViewBag.Title = @Model.GetType().Name + " edit";
}
@section Title{
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <h4>@GeneralResources.ResourceManager.GetString(@Model.GetType().Name)</h4>
}

<div>
    <hr />

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#details">@GeneralResources.Details</a></li>
        <li><a data-toggle="tab" href="#general">@GeneralResources.General</a></li>
    </ul>
    <div class="tab-content">
        <div id="details" class="tab-pane fade in active">            
            @Html.Partial("FormPartial", Model)
        </div>
        <div id="general" class="tab-pane fade">
            @Html.Partial("IAppcusiveEntityBaseDetails", Model)
        </div>
    </div>
</div>
<p>
    <hr />
    @if (Model.Id > 0)
    {
        @Html.SecuredButton("Read", Url.Action("Details", new { id = Model.Id }), "btn btn-default btn-sm", @GeneralResources.CancelLink, "fa-cog")
    }
    @Html.Partial("BackLink")
</p>