@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Diagnostics.AuditTrail>
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    ViewBag.Title = "AuditTrail list";
}
@section Title{
    <h2>@GeneralResources.ResourceManager.GetString("AuditTrail")@GeneralResources.List</h2>
}

    <table class="table table-striped table-hover">
        <caption>@GeneralResources.HelpTextAuditTrail</caption>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EntityId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EntityType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EntityState)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modified)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table table-striped table-hover @("Added" == item.EntityState ? "success" : ("Deleted" == item.EntityState ? "danger" : string.Empty))">
                    <td>
                        @Html.DisplayFor(modelItem => item.EntityId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntityType)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EntityState)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modified)
                    </td>
                    <td class="ap-btn text-nowrap">
                        <a class="btn btn-primary btn-sm" href="@Url.Action("Details", new { id = item.Id })"><i class="fa fa-cog"></i> @GeneralResources.DetailsLink</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
