@using biz.dfch.CS.Appclusive.UI.Models.SpecialOperations
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@using biz.dfch.CS.Appclusive.UI.Navigation
@using System.Linq

@{
    ViewBag.Title = @GeneralResources.SpecialOperations;
    ViewBag.ActiveOperation = PermissionDecisions.Current.Navigation["SpecialOperations"].NavEntries.Select(e => e.Name).FirstOrDefault();
}
@section Title{
    <h2>@GeneralResources.SpecialOperations</h2>
}
<div>
    <hr />
    <ul class="nav nav-tabs">
        @Html.Partial("OperationTab", new ViewDataDictionary(this.ViewData) { { "operationName", "SetCreatedBy" }, { "operationTitle", @GeneralResources.OperationSetCreatedBy } })
        @Html.Partial("OperationTab", new ViewDataDictionary(this.ViewData) { { "operationName", "ClearAuditLog" }, { "operationTitle", @GeneralResources.OperationClearAuditLog } })
        @Html.Partial("OperationTab", new ViewDataDictionary(this.ViewData) { { "operationName", "ReloadProducts" }, { "operationTitle", @GeneralResources.OperationReloadProducts } })
        @Html.Partial("OperationTab", new ViewDataDictionary(this.ViewData) { { "operationName", "SetTenant" }, { "operationTitle", @GeneralResources.OperationSetTenant } })
        @Html.Partial("OperationTab", new ViewDataDictionary(this.ViewData) { { "operationName", "RaiseUpdateConfigurationEvent" }, { "operationTitle", @GeneralResources.OperationRaiseUpdateConfigurationEvent } })
    </ul>
    <div class="tab-content">
        @Html.Partial("OperationTabContent", new ViewDataDictionary(this.ViewData) { { "operationName", "SetCreatedBy" }, { "operationObject", new SetCreatedByOperation() } })
        @Html.Partial("OperationTabContent", new ViewDataDictionary(this.ViewData) { { "operationName", "ClearAuditLog" } })
        @Html.Partial("OperationTabContent", new ViewDataDictionary(this.ViewData) { { "operationName", "ReloadProducts" } })
        @Html.Partial("OperationTabContent", new ViewDataDictionary(this.ViewData) { { "operationName", "SetTenant" }, { "operationObject", new SetTenantOperation() } })
        @Html.Partial("OperationTabContent", new ViewDataDictionary(this.ViewData) { { "operationName", "RaiseUpdateConfigurationEvent" } })
    </div>
</div>
