@using biz.dfch.CS.Appclusive.UI.Models.SpecialOperations
@using biz.dfch.CS.Appclusive.UI.App_LocalResources

@{
    ViewBag.Title = @GeneralResources.SpecialOperations;
}
@section Title{
    <h2>@GeneralResources.SpecialOperations</h2>
}
<div>
    <hr />
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#SetCreatedBy">@GeneralResources.OperationSetCreatedBy</a></li>
        <li><a data-toggle="tab" href="#ClearAuditLog">@GeneralResources.OperationClearAuditLog</a></li>
        <li><a data-toggle="tab" href="#ReloadProducts">@GeneralResources.OperationReloadProducts</a></li>
        <li><a data-toggle="tab" href="#SetTenant">@GeneralResources.OperationSetTenant</a></li>
        <li><a data-toggle="tab" href="#RaiseUpdateConfigurationEvent">@GeneralResources.OperationRaiseUpdateConfigurationEvent</a></li>
    </ul>
    <div class="tab-content">
        <div id="SetCreatedBy" class="tab-pane fade in active">
            @Html.Partial("SetCreatedBy", new SetCreatedByOperation())
        </div>
        <div id="ClearAuditLog" class="tab-pane fade">
            @Html.Partial("ClearAuditLog")
        </div>
        <div id="ReloadProducts" class="tab-pane fade">
            @Html.Partial("ReloadProducts")
        </div>
        <div id="SetTenant" class="tab-pane fade">
            @Html.Partial("SetTenant", new SetTenantOperation())
        </div>
        <div id="RaiseUpdateConfigurationEvent" class="tab-pane fade">
            @Html.Partial("RaiseUpdateConfigurationEvent")
        </div>
    </div>
</div>
