@model biz.dfch.CS.Appclusive.UI.Models.SpecialOperations.SetCreatedByOperation
@using biz.dfch.CS.Appclusive.UI.App_LocalResources

<div id="setCreatedByForm">
    @Html.Partial("AjaxNotification", (IEnumerable<biz.dfch.CS.Appclusive.UI.Models.AjaxNotificationViewModel>)ViewBag.Notifications)
    @Html.Partial("Messages")

    @using (Ajax.BeginForm("SetCreatedBy",
    new AjaxOptions() { UpdateTargetId = "setCreatedByForm", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }))
    {
        @Html.AntiForgeryToken()

        <p>
            @GeneralResources.OperationSetCreatedByHelpText
        </p>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.EntitySet, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EntitySet, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntitySet, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EntityId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EntityId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntityId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CreatedById, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreatedById, "Autocomplete", new { ShowKeyId = true, SelectUrl = @Url.Action("Select", "Users") })
                    @Html.ValidationMessageFor(model => model.CreatedById, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@GeneralResources.Go" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>