@model biz.dfch.CS.Appclusive.UI.Models.SpecialOperations.SetTenantOperation
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@using biz.dfch.CS.Appclusive.UI.Helpers

<div class="ap-busyParent">
    <div id="setTenantFormLoading"></div>
    <div id="setTenantForm">
        @Html.Partial("AjaxNotification", (IEnumerable<biz.dfch.CS.Appclusive.UI.Models.AjaxNotificationViewModel>)ViewBag.Notifications)
        @Html.Partial("Messages")

        @using (Ajax.BeginForm("SetTenant",
            new AjaxOptions() { UpdateTargetId = "setTenantForm", InsertionMode = InsertionMode.Replace, HttpMethod = "Post", OnBegin = "showSetTenantBusy", OnComplete = "hideSetTenantBusy" }))
        {
            @Html.AntiForgeryToken()

            <p>
                @GeneralResources.OperationSetTenantHelpText
            </p>

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.EntitySet, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EntitySet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EntitySet, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EntityId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EntityId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EntityId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TenantId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenantId, "Autocomplete", new { ShowKeyId = true, SearchTermId = "TenantSearchId", SelectUrl = @Url.Action("Select", "Tenants") })
                        @Html.ValidationMessageFor(model => model.TenantId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@GeneralResources.Go" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>


@using (Html.Delayed(null, "setTenantForm"))
{
    <script type="text/javascript">

        function showSetTenantBusy() {
            $("#setTenantFormLoading").show();
        }
        function hideSetTenantBusy() {
            $("#setTenantFormLoading").hide();
        }

    </script>
}