@model biz.dfch.CS.Appclusive.UI.Models.Core.Node
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    ViewBag.Title = @Model.GetType().Name + " details";
}
@section Title{
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <h4>@GeneralResources.ResourceManager.GetString(@Model.GetType().Name)</h4>
}

<div>
    <hr />
    @Html.Partial("DetailsContent", Model)
    <hr />
</div>
<p>
    @Html.Partial("BackLink")
</p>
