@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.Node>
@using biz.dfch.CS.Appclusive.UI.Helpers
@using biz.dfch.CS.Appclusive.UI.App_LocalResources

@{
    ViewBag.Title = "Node" + " List";
}
@section Title{
<table style="width:100%">
    <tr>
        <td>
            <h2>@GeneralResources.ResourceManager.GetString("Node") @GeneralResources.List</h2>
        </td>
        <td style="text-align: right; vertical-align: bottom;padding-bottom: 10px; ">
            @Html.ActionLink(GeneralResources.Node + " " + GeneralResources.Tree, "Tree", "Nodes")
        </td>
    </tr>
</table>
}
<div class="row">
    @Html.Partial("SearchForm")
</div>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameForSort(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityKind)
        </th>
        <th>
            @Html.DisplayNameForSort(model => model.EntityId)
        </th>
        <th>
            @Html.DisplayNameForSort(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameForSort(model => model.Tid)
        </th>
        <th></th>
    </tr>
    @Html.Partial("ItemList", Model)
</table>

