@using biz.dfch.CS.Appclusive.UI.Helpers
@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.Node>


@foreach (var item in Model)
{
    <tr>
        <td onclick="window.location = '@Url.Action("Details", new { id = item.Id })'" class="ap-hand">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td onclick="window.location = '@Url.Action("Details", new { id = item.Id })'" class="ap-hand">
            @Html.DisplayFor(modelItem => item.EntityKind)
        </td>
        <td onclick="window.location = '@Url.Action("Details", new { id = item.Id })'" class="ap-hand">
            @Html.DisplayFor(modelItem => item.EntityId)
        </td>
        <td onclick="window.location = '@Url.Action("Details", new { id = item.Id })'" class="ap-hand">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td onclick="window.location = '@Url.Action("Details", new { id = item.Id })'" class="ap-hand">
            @Html.DisplayFor(modelItem => item.Tid)
        </td>
        <td class="ap-btn text-nowrap">
            @Html.SecuredButton("Read", Url.Action("Details", new { id = item.Id }))
        </td>
    </tr>
}
