@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.Node>
@using biz.dfch.CS.Appclusive.UI.Helpers
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    ViewBag.AjaxPagingTargetId = "itemListAjax";
    ViewBag.AjaxPagingAction = "ItemIndex";

    RouteValueDictionary rd = new RouteValueDictionary();
    rd.Add("parentId", ViewBag.ParentId);
    rd.Add("itemSearchTerm", ViewBag.ItemSearchTerm);
    rd.Add("pageNr", 1);
    ViewBag.AjaxRouteValueDictionary = rd;

    AjaxOptions ajaxOptions = new AjaxOptions() { UpdateTargetId = ViewBag.AjaxPagingTargetId, InsertionMode = InsertionMode.Replace, HttpMethod = "Get" };
}
<div id="itemListAjax">
    @if ("ItemIndex" == (string)ViewContext.Controller.ControllerContext.RouteData.Values["action"])
    {
        @Html.Partial("AjaxNotification", (IEnumerable<biz.dfch.CS.Appclusive.UI.Models.AjaxNotificationViewModel>)ViewBag.Notifications)
        @Html.Partial("Messages")
    }
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @AjaxHelperExtensions.DisplayNameForSort(Ajax, Html.DisplayNameFor(model => model.Name).ToString(), "Name", (string)ViewBag.AjaxPagingAction, rd, ajaxOptions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntityKind)
            </th>
            <th>
                @AjaxHelperExtensions.DisplayNameForSort(Ajax, Html.DisplayNameFor(model => model.EntityId).ToString(), "EntityId", (string)ViewBag.AjaxPagingAction, rd, ajaxOptions)
            </th>
            <th>
                @AjaxHelperExtensions.DisplayNameForSort(Ajax, Html.DisplayNameFor(model => model.Description).ToString(), "Description", (string)ViewBag.AjaxPagingAction, rd, ajaxOptions)
            </th>
            <th>
                @AjaxHelperExtensions.DisplayNameForSort(Ajax, Html.DisplayNameFor(model => model.Tid).ToString(), "Tid", (string)ViewBag.AjaxPagingAction, rd, ajaxOptions)
            </th>
            <th></th>
        </tr>
        @Html.Partial("ItemList", Model)
    </table>   
    @Html.Partial("AjaxPaging", Model)
</div>
