@model biz.dfch.CS.Appclusive.UI.Models.Core.Node
@using biz.dfch.CS.Appclusive.UI.Helpers
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    //ViewBag.AjaxItemSearchTargetId = "itemListAjax";
    //ViewBag.AjaxItemSearchAction = "ItemIndex";

    RouteValueDictionary sd = new RouteValueDictionary();
    sd.Add("parentId", ViewBag.ParentId);
    ViewBag.AjaxSearchRouteValueDictionary = sd;

    ViewDataDictionary aceListViewData = new ViewDataDictionary();
    aceListViewData.Add("Readonly", true);
    aceListViewData.Add("Notifications", new List<biz.dfch.CS.Appclusive.UI.Models.AjaxNotificationViewModel>());
}
@Html.Partial("CheckPermission", (biz.dfch.CS.Appclusive.UI.Models.SpecialOperations.CheckPermission)ViewBag.CheckNodePermission)

<div>
    <h4>@Html.DisplayNameFor(model => model.Acl)</h4>
    @if (Model.Acl == null)
    {
        <div class="row" style="margin-bottom:20px">
            <div class="col-md-4 media-middle">
                @*<span>@GeneralResources.None   </span>*@
                @Html.SecuredButton("Create", Url.Action("Create", "Acls", new { nodeId = Model.Id }), "btn-primary")
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-3">
                @GeneralResources.Acl
            </div>
            <div>
                @if (Model.Acl.NoInheritanceFromParent)
                {
                    @GeneralResources.HasNoInheritanceFromParent
                }
                else
                {
                    @GeneralResources.HasInheritanceFromParent
                }
            </div>
        </div>
        @Html.Partial("AceList", Model.Acl.Aces, aceListViewData)
        <div style="margin-bottom:20px">           
            @Html.SecuredButton("Update", Url.Action("Edit", "Acls", new { id = Model.Acl.Id }), "btn-default")
            @Html.SecuredButton("Read", Url.Action("Details", "Acls", new { id = Model.Acl.Id }), "btn-primary")
            @if (Model.Acl.NoInheritanceFromParent)
            {
                @Html.SecuredButton("Update", Url.Action("InheritanceFromParent", "Acls", new { id = Model.Acl.Id, enable = true }), "btn-success btn-sm disabled", @GeneralResources.RestoreInheritance)
            }
            else
            {
                @Html.SecuredButton("Update", Url.Action("InheritanceFromParent", "Acls", new { id = Model.Acl.Id, enable = false }), "btn-success btn-sm disabled", @GeneralResources.BreakInheritance)
            }
        </div>
    }
</div>
<hr />
<div>
    <h4>@Html.DisplayNameFor(model => model.EffectivAces)</h4>
    @if (Model.EffectivAces == null)
    {
        @GeneralResources.NotAvailable
    }
    else
    {
        @Html.Partial("AceList", Model.EffectivAces, aceListViewData)
    }
</div>
