@using biz.dfch.CS.Appclusive.UI.Helpers
@using biz.dfch.CS.Appclusive.UI.Models.Core
@using biz.dfch.CS.Appclusive.UI.Models.Cmp
@using biz.dfch.CS.Appclusive.UI.Models.Diagnostics
@using biz.dfch.CS.Appclusive.UI.Models.SpecialOperations
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    var title = "biz.dfch.CS.Appclusive.UI";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navMenu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(title, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Core <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            @Html.SecuredListItem(typeof(Catalogue), Html.ActionLink(@GeneralResources.Catalogue, "Index", "Catalogues"))
                            @Html.SecuredListItem(typeof(Product), Html.ActionLink(@GeneralResources.Product, "Index", "Products"))
                            @Html.SecuredListItem(typeof(Node), Html.ActionLink(@GeneralResources.Node, "Index", "Nodes"))
                            @Html.SecuredListItem(typeof(Cart), Html.ActionLink(@GeneralResources.Cart, "Index", "Carts"))
                            @Html.SecuredListItem(typeof(Order), Html.ActionLink(@GeneralResources.Order, "Index", "Orders"))
                            @Html.SecuredListItem(typeof(Job), Html.ActionLink(@GeneralResources.Job, "Index", "Jobs"))
                            @Html.SecuredListItem(typeof(Approval), Html.ActionLink(@GeneralResources.Approval, "Index", "Approvals"))
                            @Html.SecuredListItem(typeof(KeyNameValue), Html.ActionLink(@GeneralResources.KeyNameValue, "Index", "KeyNameValues"))
                            @Html.SecuredListItem(typeof(EntityKind), Html.ActionLink(@GeneralResources.EntityKind, "Index", "EntityKinds"))
                            @Html.SecuredListItem(typeof(Gate), Html.ActionLink(@GeneralResources.Gate, "Index", "Gates"))
                            @Html.SecuredListItem(typeof(ManagementUri), Html.ActionLink(@GeneralResources.ManagementUri, "Index", "ManagementUris"))
                            @Html.SecuredListItem(typeof(ManagementCredential), Html.ActionLink(@GeneralResources.ManagementCredential, "Index", "ManagementCredentials"))

                            @Html.SecuredListItem(typeof(CostCentre), Html.ActionLink(@GeneralResources.CostCentre, "Index", "CostCentres"))
                            @Html.SecuredListItem(typeof(Tenant), Html.ActionLink(@GeneralResources.Tenant, "Index", "Tenants"))
                            @Html.SecuredListItem(typeof(Customer), Html.ActionLink(@GeneralResources.Customer, "Index", "Customers"))
                            @Html.SecuredListItem(typeof(ContractMapping), Html.ActionLink(@GeneralResources.ContractMappings, "Index", "ContractMappings"))
                            @Html.SecuredListItem(typeof(CimiTarget), Html.ActionLink(@GeneralResources.CimiTarget, "Index", "CimiTargets"))
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Diagnostics <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            @Html.SecuredListItem(typeof(AuditTrail), Html.ActionLink(@GeneralResources.AuditTrail, "Index", "AuditTrails"))
                            @Html.SecuredListItem(typeof(Endpoint), Html.ActionLink(@GeneralResources.Endpoint, "Index", "Endpoints"))
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Security <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            @Html.SecuredListItem(typeof(Permission), Html.ActionLink(@GeneralResources.Permission, "Index", "Permissions"))
                            @Html.SecuredListItem(typeof(Roles), Html.ActionLink(@GeneralResources.Role, "Index", "Roles"))
                            @Html.SecuredListItem(typeof(User), Html.ActionLink(@GeneralResources.User, "Index", "Users"))
                            @Html.SecuredListItem(typeof(Ace), Html.ActionLink(@GeneralResources.Ace, "Index", "Aces"))
                            @Html.SecuredListItem(typeof(Acl), Html.ActionLink(@GeneralResources.Acl, "Index", "Acls"))
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            VDI <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            @Html.SecuredListItem(typeof(Cart), Html.ActionLink(@GeneralResources.VDI_PERSONAL, "VdiCreate", "Carts", new { vdiName = biz.dfch.CS.Appclusive.UI.Models.Core.VdiCartItem.VDI_PERSONAL_NAME }, null))
                            @Html.SecuredListItem(typeof(Cart), Html.ActionLink(@GeneralResources.VDI_TECHNICAL, "VdiCreate", "Carts", new { vdiName = biz.dfch.CS.Appclusive.UI.Models.Core.VdiCartItem.VDI_TECHNICAL_NAME }, null))
                        </ul>
                    </li>

                    <li>@Html.ActionLink(@GeneralResources.SpecialOperations, "Index", "SpecialOperations")</li>
                </ul>
                @if (null == Session["LoginData"])
                {
                    <p class="nav navbar-text navbar-right">@User.Identity.Name</p>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right ">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                @User.Identity.Name <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink(@GeneralResources.Logout, "Logout", "Login")</li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <!-- Div that navbar on multiple lines does not cover body. See Site.js-->
    <div class="godown-60" id="godown"></div>

    <div class="container body-content">

        @RenderSection("Title", required: false)
        @Html.Partial("Messages")
        @RenderBody()
        @Html.Partial("Paging")
        <hr />
        <footer>
            <table>
                <tr>
                    <td align='left' width="100%">&copy; @DateTime.Now.Year d-fens GmbH</td>
                    <td align='right'><a>@Html.ActionLink(@GeneralResources.About, "About", "Home")</a></td>
                </tr>
            </table>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sitescripts")
    @RenderSection("scripts", required: false)
    @Html.RenderDelayed()

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>


    <div id="ajaxNotify">
    </div>

</body>
</html>
