@using biz.dfch.CS.Appclusive.UI.Helpers
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    var title = "biz.dfch.CS.Appclusive.UI";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navMenu" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(title, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Core <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink(@GeneralResources.Catalogue, "Index", "Catalogues")</li>
                            <li>@Html.ActionLink(@GeneralResources.Product, "Index", "Products")</li>
                            <li>@Html.ActionLink(@GeneralResources.Node, "Index", "Nodes")</li>
                            <li>@Html.ActionLink(@GeneralResources.Cart, "Index", "Carts")</li>
                            <li>@Html.ActionLink(@GeneralResources.Order, "Index", "Orders")</li>
                            <li>@Html.ActionLink(@GeneralResources.Job, "Index", "Jobs")</li>
                            <li>@Html.ActionLink(@GeneralResources.Approval, "Index", "Approvals")</li>
                            <li>@Html.ActionLink(@GeneralResources.KeyNameValue, "Index", "KeyNameValues")</li>
                            <li>@Html.ActionLink(@GeneralResources.EntityKind, "Index", "EntityKinds")</li>
                            <li>@Html.ActionLink(@GeneralResources.Gate, "Index", "Gates")</li>
                            <li>@Html.ActionLink(@GeneralResources.ManagementUri, "Index", "ManagementUris")</li>
                            <li>@Html.ActionLink(@GeneralResources.ManagementCredential, "Index", "ManagementCredentials")</li>
                            <li>@Html.ActionLink(@GeneralResources.CostCentre, "Index", "CostCentres")</li>
                            <li>@Html.ActionLink(@GeneralResources.Tenant, "Index", "Tenants")</li>
                            <li>@Html.ActionLink(@GeneralResources.Customer, "Index", "Customers")</li>
                            <li>@Html.ActionLink(@GeneralResources.ContractMappings, "Index", "ContractMappings")</li>
                            <li>@Html.ActionLink(@GeneralResources.CimiTarget, "Index", "CimiTargets")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Diagnostics <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink(@GeneralResources.AuditTrail, "Index", "AuditTrails")</li>
                            <li>@Html.ActionLink(@GeneralResources.Endpoint, "Index", "Endpoints")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Security <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink(@GeneralResources.Permission, "Index", "Permissions")</li>
                            <li>@Html.ActionLink(@GeneralResources.Role, "Index", "Roles")</li>
                            <li>@Html.ActionLink(@GeneralResources.User, "Index", "Users")</li>
                            <li>@Html.ActionLink(@GeneralResources.Ace, "Index", "Aces")</li>
                            <li>@Html.ActionLink(@GeneralResources.Acl, "Index", "Acls")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            VDI <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink(@GeneralResources.VDI_PERSONAL, "VdiCreate", "Carts", new { vdiName = biz.dfch.CS.Appclusive.UI.Models.Core.VdiCartItem.VDI_PERSONAL_NAME }, null)</li>
                            <li>@Html.ActionLink(@GeneralResources.VDI_TECHNICAL, "VdiCreate", "Carts", new { vdiName = biz.dfch.CS.Appclusive.UI.Models.Core.VdiCartItem.VDI_TECHNICAL_NAME }, null)</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink(@GeneralResources.SpecialOperations, "Index", "SpecialOperations")</li>
                </ul>
                @if (null == Session["LoginData"])
                {
                    <p class="nav navbar-text navbar-right">@User.Identity.Name</p>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right ">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                @User.Identity.Name <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink(@GeneralResources.Logout, "Logout", "Login")</li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
   
    <!-- Div that navbar on multiple lines does not cover body. See Site.js-->
    <div class="godown-60" id="godown" ></div>

    <div class="container body-content">

        @RenderSection("Title", required: false)
        @Html.Partial("Messages")
        @RenderBody()
        @Html.Partial("Paging")
        <hr />
        <footer>
            <table>
                <tr>
                    <td align='left' width="100%">&copy; @DateTime.Now.Year d-fens GmbH</td>
                    <td align='right'><a>@Html.ActionLink(@GeneralResources.About, "About", "Home")</a></td>
                </tr>
            </table>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sitescripts")
    @RenderSection("scripts", required: false)
    @Html.RenderDelayed()

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>


    <div id="ajaxNotify">
    </div>

</body>
</html>
