@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@if (ViewBag.Paging != null)
{
    <ul class="pagination">

        @*@for (int i = 1; i <= (int)ViewBag.Paging.PageNr; i++)
            {
                if (i == ViewBag.Paging.PageNr)
                {
                    <li class="active">
                        <a href="@Url.Action("Index", new { pageNr = i })">@i</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Index", new { pageNr = i })">@i</a>
                    </li>
                }
            }*@
        @if (ViewBag.Paging.PageNr > 1)
        {
            int prevPage = ViewBag.Paging.PageNr - 1;
            <li>
                <a href="@Url.Action("Index", new { pageNr = prevPage })"><i class="fa fa-chevron-left"></i> @GeneralResources.Previous</a>
            </li>
        }
        else
        {
            <li class="disabled">
                <a class="disabled"><i class="fa fa-chevron-left"></i> @GeneralResources.Previous</a>
            </li>
        }

        @if (ViewBag.Paging.HasMore)
        {
            int nextPage = ViewBag.Paging.PageNr + 1;
            <li>
                <a href="@Url.Action("Index", new { pageNr = nextPage })">@GeneralResources.Next <i class="fa fa-chevron-right"></i></a>
            </li>
        }
        else
        {
            <li class="disabled">
                <a class="disabled">@GeneralResources.Next <i class="fa fa-chevron-right"></i></a>
            </li>
        }
    </ul>
}