@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.Tenant>
@using biz.dfch.CS.Appclusive.UI.Helpers
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    string id = (string)ViewContext.Controller.ControllerContext.RouteData.Values["id"];
    string action = (string)ViewContext.Controller.ControllerContext.RouteData.Values["action"];
    string controller = (string)ViewContext.Controller.ControllerContext.RouteData.Values["controller"];
}
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td onclick="window.location = '@Url.Action("Details", "Tenants", new { id = item.Id, rId = id, rAction = action, rController = controller })'" class="ap-hand">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td onclick="window.location = '@Url.Action("Details", "Tenants", new { id = item.Id, rId = id, rAction = action, rController = controller })'" class="ap-hand">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink(item.ParentId.ToString(), "Details", "Tenants", new { id = item.ParentId, rId = id, rAction = action, rController = controller }, null)
            </td>
            <td class="ap-btn text-nowrap">
                @Html.SecuredButton("Read", Url.Action("Details", "Tenants", new { id = item.Id, rId = id, rAction = action, rController = controller }))
                @if (ViewBag.ShowEditLinks != null && ViewBag.ShowEditLinks)
                {
                    @Html.SecuredButton("Update", Url.Action("Edit", "Tenants", new { id = item.Id }))
                    @Html.SecuredButton("Delete", Url.Action("Delete", "Tenants", new { id = item.Id }))
                }
            </td>
        </tr>
    }

</table>
