@model biz.dfch.CS.Appclusive.UI.Models.Core.Approval
@using biz.dfch.CS.Appclusive.UI.Helpers
@using biz.dfch.CS.Appclusive.UI.Models.Core
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    ViewBag.Title = @Model.GetType().Name + " details";
}

@section Title{
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <h4>@GeneralResources.ResourceManager.GetString(@Model.GetType().Name)</h4>
}
<div>
    <hr />
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#details">@GeneralResources.Details</a></li>
        <li><a data-toggle="tab" href="#general">@GeneralResources.General</a></li>
    </ul>
    <div class="tab-content">
        <div id="details" class="tab-pane fade in active">
            <dl>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Job)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Job)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NotBefore)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NotBefore)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ExpiresAt)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ExpiresAt)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Order)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Order)
                </dd>

            </dl>
        </div>
        <div id="general" class="tab-pane fade">
            @Html.Partial("IAppcusiveEntityBaseDetails", Model)
        </div>
    </div>
    <hr />
</div>
<p>
    @Html.Partial("BackLink") 
    @if (Model.Job.Status == biz.dfch.CS.Appclusive.UI.Models.Core.Approval.CREATED_STATUS)
    {
        @Html.SecuredButton("Update", Url.Action("Approve", new { id = Model.Id }), "btn btn-success btn-sm", @GeneralResources.Approve, "fa-cog")
        @Html.SecuredButton("Update", Url.Action("Decline", new { id = Model.Id }), "btn btn-warning btn-sm", @GeneralResources.Decline, "fa-cog")
    }    
</p>
