@model biz.dfch.CS.Appclusive.UI.Models.Core.Approval

@{
    ViewBag.Title = "Approval details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Approval</h4>
    <hr />

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#details">Details</a></li>
        <li><a data-toggle="tab" href="#general">General</a></li>
    </ul>
    <div class="tab-content">
        <div id="details" class="tab-pane fade in active">
            <dl>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NotBefore)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NotBefore)
                </dd>
                
                <dt>
                    @Html.DisplayNameFor(model => model.ExpiresAt)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ExpiresAt)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                
            </dl>
        </div>
        <div id="general" class="tab-pane fade">
            @Html.Partial("IAppcusiveEntityBaseDetails", Model)
        </div>
    </div>
    <hr />
</div>
<p>
    <a class="btn btn-default btn-sm" href="@Url.Action("Index")"><i class="fa fa-arrow-left "></i> Back to List</a>
    @if (Model.Status == biz.dfch.CS.Appclusive.UI.Models.Core.Approval.CREATED_STATUS)
    {
        <a class="btn btn-default btn-sm disabled" href="@Url.Action("Approve", new { id = Model.Id })"><i class="fa fa-cog"></i> Approve</a>
        <a class="btn btn-default btn-sm disabled" href="@Url.Action("Decline", new { id = Model.Id })"><i class="fa fa-cog"></i> Decline</a>
    }
</p>
