@model biz.dfch.CS.Appclusive.UI.Models.Core.Approval

@{
    ViewBag.Title = "Approval details";
}

<h2>@Html.DisplayFor(model => model.TitelText)</h2>

<div>
    <h4>Approval</h4>
    <hr />

    @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HelpText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HelpText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiresAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpiresAt)
        </dd>

    </dl>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
        <div >
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = "4", @style = "min-width: 100%" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    }
</div>
<hr />
<p>
    <a class="btn btn-default btn-sm" href="@Url.Action("Index")"><i class="fa fa-arrow-left "></i> Back to List</a>
    <a class="btn btn-default btn-sm disabled" href="@Url.Action("Approve", new { id = Model.Id })"><i class="fa fa-cog"></i> Approve</a>
    <a class="btn btn-default btn-sm disabled" href="@Url.Action("Decline", new { id = Model.Id })"><i class="fa fa-cog"></i> Decline</a>
</p>
