@model biz.dfch.CS.Appclusive.UI.Models.Core.Order
@using biz.dfch.CS.Appclusive.UI.App_LocalResources

@{
    ViewBag.Title = @Model.GetType().Name + " details";
}
@section Title{
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <h4>@GeneralResources.ResourceManager.GetString(@Model.GetType().Name)</h4>
}
@{
    string id = (string)ViewContext.Controller.ControllerContext.RouteData.Values["id"];
    string action = (string)ViewContext.Controller.ControllerContext.RouteData.Values["action"];
    string controller = (string)ViewContext.Controller.ControllerContext.RouteData.Values["controller"];
}
<div>
    <hr />

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#details">@GeneralResources.Details</a></li>
        <li><a data-toggle="tab" href="#items">Order Items</a></li>
        <li><a data-toggle="tab" href="#general">@GeneralResources.General</a></li>
    </ul>
    <div class="tab-content">
        <div id="details" class="tab-pane fade in active">
            <dl>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Job)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Job)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CostCentre)
                </dt>
                <dd>
                    @if (null != Model.CostCentreId)
                    {
                        @Html.ActionLink(Model.CostCentreId.ToString(), "Details", "CostCentres", new { id = Model.CostCentreId, rId = id, rAction = action, rController = controller }, null)
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Requester)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Requester)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Parameters)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Parameters)
                </dd>

            </dl>
        </div>
        <div id="items" class="tab-pane fade">
            @Html.Partial("ItemList", Model.OrderItems)
        </div>
        <div id="general" class="tab-pane fade">
            @Html.Partial("IAppcusiveEntityBaseDetails", Model)
        </div>
    </div>
    <hr />
</div>
<p>
    @Html.Partial("BackLink")
</p>
