@model biz.dfch.CS.Appclusive.UI.Models.Core.ManagementCredential
@using biz.dfch.CS.Appclusive.UI.Models
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    ViewBag.Title = @Model.GetType().Name + " details";
}
@section Title{
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <h4>@GeneralResources.ResourceManager.GetString(@Model.GetType().Name)</h4>
}
<div>
    <hr />

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#details">@GeneralResources.Details</a></li>
        <li><a data-toggle="tab" href="#general">@GeneralResources.General</a></li>
        <li><a data-toggle="tab" href="#uriList">@GeneralResources.ManagementUris</a></li>
    </ul>
    <div class="tab-content">
        <div id="details" class="tab-pane fade in active">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Username)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>
                <dd>
                    <a class="btn btn-primary" onclick="togglePW()" id="pwBtn">@GeneralResources.SeePassword</a>
                    <div class="well hidden" id="pwBox">
                        @Html.DisplayFor(model => model.Password)
                    </div>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EncryptedPassword)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EncryptedPassword)
                </dd>
            </dl>
        </div>
        <div id="uriList" class="tab-pane fade">
            @Html.Partial("ManagementUriList", Model.ManagementUris)
        </div>
        <div id="general" class="tab-pane fade">
            @Html.Partial("IAppcusiveEntityBaseDetails", Model)
        </div>
    </div>
    <hr />
</div>
<p>
    <a class="btn btn-default btn-sm" href="@Url.Action("Edit", new { id = Model.Id })"><i class="fa fa-pencil "></i> @GeneralResources.EditLink</a>
    <a class="btn btn-info btn-sm" href="@Url.Action("Index")"><i class="fa fa-arrow-left "></i> @GeneralResources.Back2list</a>
</p>

@using (Html.Delayed())
{
    <script type="text/javascript">
        function togglePW() {
            if ($("#pwBox").hasClass("hidden")) {
                $("#pwBox").removeClass("hidden");
                $("#pwBtn").text("@GeneralResources.HidePassword");
                setTimeout('togglePW()', 5000);
            } else {
                $("#pwBox").addClass("hidden");
                $("#pwBtn").text("@GeneralResources.SeePassword");
            }
        }
    </script>
}