@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.ManagementUri>
@using biz.dfch.CS.Appclusive.UI.Helpers
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    ViewBag.AjaxPagingTargetId = "managementUriListAjax";
    ViewBag.AjaxPagingAction = "ItemIndex";

    RouteValueDictionary rd = new RouteValueDictionary();
    rd.Add("managementCredentialId", ViewBag.ParentId);
    rd.Add("itemSearchTerm", ViewBag.ItemSearchTerm);
    rd.Add("pageNr", 1);
    ViewBag.AjaxRouteValueDictionary = rd;

    AjaxOptions ajaxOptions = new AjaxOptions() { UpdateTargetId = ViewBag.AjaxPagingTargetId, InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnBegin = "showBusy", OnComplete = "hideBusy" };
}
@Html.Partial("AjaxNotification", (IEnumerable<biz.dfch.CS.Appclusive.UI.Models.AjaxNotificationViewModel>)ViewBag.Notifications)
@Html.Partial("Messages")
<table class="table table-striped table-hover">
    <tr>
        <th>
            @AjaxHelperExtensions.DisplayNameForSort(Ajax, @Html.DisplayNameFor(model => model.Name).ToString(), "Name", (string)ViewBag.AjaxPagingAction, rd, ajaxOptions)
        </th>
        <th>
            @AjaxHelperExtensions.DisplayNameForSort(Ajax, @Html.DisplayNameFor(model => model.Description).ToString(), "Description", (string)ViewBag.AjaxPagingAction, rd, ajaxOptions)
        </th>
        <th>
            @AjaxHelperExtensions.DisplayNameForSort(Ajax, @Html.DisplayNameFor(model => model.Type).ToString(), "Type", (string)ViewBag.AjaxPagingAction, rd, ajaxOptions)
        </th>
        <th>
            @AjaxHelperExtensions.DisplayNameForSort(Ajax, @Html.DisplayNameFor(model => model.Value).ToString(), "Value", (string)ViewBag.AjaxPagingAction, rd, ajaxOptions)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string id = (string)ViewContext.Controller.ControllerContext.RouteData.Values["id"];
        string action = "Details";
        string controller = "ManagementCredentials";

        <tr>
            <td onclick="window.location = '@Url.Action("Details", "ManagementUris", new { id = item.Id, rId = item.ManagementCredentialId, rAction = action, rController = controller })'" class="ap-hand">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td onclick="window.location = '@Url.Action("Details", "ManagementUris", new { id = item.Id, rId = item.ManagementCredentialId, rAction = action, rController = controller })'" class="ap-hand">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td onclick="window.location = '@Url.Action("Details", "ManagementUris", new { id = item.Id, rId = item.ManagementCredentialId, rAction = action, rController = controller })'" class="ap-hand">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td onclick="window.location = '@Url.Action("Details", "ManagementUris", new { id = item.Id, rId = item.ManagementCredentialId, rAction = action, rController = controller })'" class="ap-hand">
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td class="ap-btn text-nowrap">
                @Html.SecuredButton("Read", Url.Action("Details", "ManagementUris", new { id = item.Id, rId = item.ManagementCredentialId, rAction = action, rController = controller }))
                @Html.SecuredButton("Update", Url.Action("Edit", "ManagementUris", new { id = item.Id, rId = item.ManagementCredentialId, rAction = action, rController = controller }))
                @Html.SecuredButton("Delete", Url.Action("Delete", "ManagementUris", new { id = item.Id, rId = item.ManagementCredentialId, rAction = action, rController = controller }))
            </td>
        </tr>
    }

</table>
@Html.Partial("AjaxPaging", Model)
