@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.CatalogueItem>
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@using biz.dfch.CS.Appclusive.UI.Helpers
@if (ViewBag.ParentId > 0)
{
    <p>
        @Html.SecuredButton("Create", Url.Action("ItemCreate", new { catalogueId = ViewBag.ParentId }), "btn-default btn-sm", GeneralResources.CreateNewItem)
    </p>
}
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var catalogItem in Model)
    {
        <tr>
            <td onclick="window.location = '@Url.Action("ItemDetails", "Catalogues", new { id = catalogItem.Id, rId = catalogItem.ProductId, rAction = "Details", rController = "Products" })'" class="ap-hand">
                @Html.DisplayFor(modelItem => catalogItem.Name)
            </td>
            <td onclick="window.location = '@Url.Action("ItemDetails", "Catalogues", new { id = catalogItem.Id, rId = catalogItem.ProductId, rAction = "Details", rController = "Products" })'" class="ap-hand">
                @Html.DisplayFor(modelItem => catalogItem.Description)
            </td>
            <td class="ap-btn text-nowrap">
                <a class="btn btn-default btn-sm" href="@Url.Action("ItemDetails", "Catalogues", new { id = catalogItem.Id, rId = catalogItem.ProductId, rAction = "Details", rController = "Products" })"><i class="fa fa-cog"></i> @GeneralResources.CatalogueItem @GeneralResources.DetailsLink</a>
            </td>
        </tr>
    }

</table>




